<div class="login-page">
    <div class="top-strip"></div>
    <div class="login-box">
      <h1 class="login-title">Login</h1>
      <form>
        <input type="text" placeholder="User" class="login-input" />
        <input type="password" placeholder="Password" class="login-input" />
        <button type="button" class="login-button" (click)="Ingresar()">SIGN IN</button>
      </form>
      <p class="signup-text">
        Are you a new user?
      </p>
      <button type="button" class="signup-button" (click)="Registrar()">SIGN UP</button>
    </div>
  </div>
  