<div class="login-page">
    <div class="top-strip"></div>
    <div class="login-box">
      <h1 class="login-title">Register</h1>
      <form>
        <input type="text" placeholder="Name" class="login-input" />
        <input type="text" placeholder="Last Name" class="login-input" />
        <input type="number" placeholder="DNI" class="login-input" />
        <input type="email" placeholder="Email" class="login-input" />
        <input type="number" placeholder="Cellphone" class="login-input" />
        <button type="submit" class="login-button" (click)="goHome()">SIGN UP</button>
      </form>
    </div>
  </div>
  